@import './../../styles/colors.scss';
@import './../../styles/fonts.scss';

.navLink {
  text-decoration: none;
  @include TInter(400);
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: $black;
}

.navLink.active,
.navLink:active {
  color: $blue-500;
}

@media (max-width: 600px) {
  .navLink {
    font-size: 14px;
    line-height: 18px;
  }
}
