@import './../../styles/colors.scss';
@import './../../styles/fonts.scss';

.header {
  position: relative;
  top: 0;
  left: 0;
  height: 84px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: $white;

  .headerWrapper {
    width: 100%;
    max-width: 1140px;
    padding: 0 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .logo {
    align-items: flex-start;
    display: flex;
    align-items: center;
    gap: 12px;

    .text {
      @include TPoppins(600);
      font-size: 24px;
      line-height: 36px;
      letter-spacing: -0.02em;
      color: $black;
    }
  }

  .navigation {
    position: absolute;
    left: calc(50%);
    display: flex;
    align-items: center;
    gap: 60px;

    transform: translateX(calc(-50%));
  }
}

.main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  background: #f7f7f8;
}

.wrapper {
  width: 100%;
  max-width: 1140px;
  padding: 0 12px;
  display: flex;
}

.navLink {
  text-decoration: none;
  @include TInter(400);
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: $black;
}

.navLink.active,
.navLink:active {
  color: $blue-500;
}

@media (max-width: 700px) {
  .header {
    height: 120px;

    .headerWrapper {
      justify-content: center;
      align-items: flex-start;
      padding: 20px;
    }

    .navigation {
      bottom: 20px;
    }
  }
}

@media (max-width: 600px) {
  .header {
    .headerWrapper {
      padding: 20px;
    }

    .navigation {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 20px;
    }
  }

  .navLink {
    font-size: 14px;
    line-height: 18px;
  }
}
