@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto&display=swap');

@mixin TInter($weight) {
  font-family: 'Inter';
  font-style: normal;
  font-weight: $weight;
}

@mixin TPoppins($weight) {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: $weight;
}

@mixin TRoboto($weight) {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: $weight;
}

@mixin TOpenSans($weight) {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: $weight;
}
