@import "./../../styles/colors.scss";
@import "./../../styles/fonts.scss";

.header {
  position: relative;
  height: 84px;
  width: 100%;
  display: flex;
  justify-content: center;

  background: $white;

  .wrapper {
    height: 84px;
    justify-content: flex-start;
    align-items: center;
  }

  .logo {
    align-items: flex-start;
    display: flex;
    align-items: center;
    gap: 12px;

    .text {
      @include TPoppins(600);
      font-size: 24px;
      line-height: 36px;
      /* identical to box height */

      letter-spacing: -0.02em;

      color: $black;
    }
  }

  .navigation {
    position: absolute;
    left: calc(50%);
    display: flex;
    align-items: center;
    gap: 60px;

    transform: translateX(-50%);

    a {
      @include TInter(400);
      font-size: 16px;
      line-height: 20px;
      /* identical to box height, or 125% */

      display: flex;
      align-items: center;

      /* Black */

      color: $black;

      text-decoration: none;
    }

    .active,
    a:active {
      color: $blue-500;
    }
  }
}

.main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  background: #F7F7F8;
}