@import url(./styles/colors.scss);
@import url(./styles/fonts.scss);

html {
  width: 100%;
  min-height: 100vh;
}

body {
  width: 100%;
  min-height: 100vh;
}

header,
main {
  width: 100%;
  margin: 0 auto;
  display: flex;
}
main {
  flex-grow: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  max-width: 1140px;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
